<% content_for :main_content do %>
  <div class="top-message">
    <h1>いらっしゃい!</h1>
    <p>ここはトップページです</p>
  </div>
<% end %>

<% content_for :right_sidebar do %>
  <div class="twitter">
    <a class="twitter-timeline" href="https://twitter.com/realDonaldTrump?ref_src=twsrc%5Etfw" width="100%" height="400pt">Tweets by realDonaldTrump</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
<% end %>
