.top-message{
  margin: 3%;
}
.twitter{
  margin: 8pt;
  height: 400pt;
  border: solid 1px #ddd;
  border-radius: 10px;

}
.twitter h1{
  background-color: whitesmoke;
  font-size: 15pt;
  text-align: center;
}
